<!DOCTYPE html>
<html>
<head>
    {% block head %}
    {% block meta %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    {% endblock meta %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    {% block stylesheets %}
    <!-- Favicon-->
    <link href="/static/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.indigo-pink.min.css">
    <link href="/static/css/main.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/roboto.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/ripples.min.css">
    <!-- Custom Css -->

    <link href="/static/css/themes/all-themes.css" rel="stylesheet"/>
    {% endblock stylesheets %}
    {% endblock head %}
</head>
<body class="theme-blush {% block body_class %}  {% endblock body_class %}">
{% block body %}
<!-- Page Loader 
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="preloader">
            <div class="spinner-layer pl-blush">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
        <p>Please wait...</p>
    </div>
</div>
<!-- #END# Page Loader -->

<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<!-- #END# Overlay For Sidebars -->

<!-- Morphing Search  -->

{% block top_navigation %}
<!-- Top Bar -->
<nav class="navbar clearHeader">
    {% include "app/top_navigation.html" %}
</nav>
<!-- #Top Bar -->
{% endblock top_navigation %}
<!--Side menu and right menu -->
<section>
    {% block sidebar %}
    <!-- Left Sidebar -->
    <aside id="leftsidebar" class="sidebar">
        {% include "app/sidebar.html" %}
    </aside>
    {% endblock sidebar %}
    <!-- #END# Left Sidebar -->
    <!-- Right Sidebar -->
    <aside id="rightsidebar" class="right-sidebar">
        <ul class="nav nav-tabs tab-nav-right" role="tablist">
            <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#skins">Skins</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#chat">Chat</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#settings">Setting</a></li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane in active in active" id="skins">
                <ul class="demo-choose-skin">
                    <li data-theme="red">
                        <div class="red"></div>
                        <span>Red</span></li>
                    <li data-theme="purple">
                        <div class="purple"></div>
                        <span>Purple</span></li>
                    <li data-theme="blue">
                        <div class="blue"></div>
                        <span>Blue</span></li>
                    <li data-theme="cyan">
                        <div class="cyan"></div>
                        <span>Cyan</span></li>
                    <li data-theme="green">
                        <div class="green"></div>
                        <span>Green</span></li>
                    <li data-theme="deep-orange">
                        <div class="deep-orange"></div>
                        <span>Deep Orange</span></li>
                    <li data-theme="blue-grey">
                        <div class="blue-grey"></div>
                        <span>Blue Grey</span></li>
                    <li data-theme="black">
                        <div class="black"></div>
                        <span>Black</span></li>
                    <li data-theme="blush" class="active">
                        <div class="blush"></div>
                        <span>Blush</span></li>
                </ul>
            </div>
            <div role="tabpanel" class="tab-pane" id="chat">
                <div class="demo-settings">
                    <div class="search">
                        <div class="input-group">
                            <div class="form-line">
                                <input type="text" class="form-control" placeholder="Search..." required autofocus>
                            </div>
                        </div>
                    </div>
                    <h6>Recent</h6>
                    <ul>
                        <li class="online">
                            <div class="media">
                                <a role="button" tabindex="0"> <img class="media-object "
                                                                    src="assets/images/xs/avatar1.jpg" alt=""> </a>
                                <div class="media-body">
                                    <span class="name">Claire Sassu</span> <span
                                        class="message">Can you share the...</span> <span
                                        class="badge badge-outline status"></span>
                                </div>
                            </div>
                        </li>
                        <li class="online">
                            <div class="media"><a role="button" tabindex="0"> <img class="media-object "
                                                                                   src="assets/images/xs/avatar2.jpg"
                                                                                   alt=""> </a>
                                <div class="media-body">
                                    <span class="name">Maggie jackson</span> <span
                                        class="message">Can you share the...</span> <span
                                        class="badge badge-outline status"></span>
                                </div>
                            </div>
                        </li>
                        <li class="online">
                            <div class="media"><a role="button" tabindex="0"> <img class="media-object "
                                                                                   src="assets/images/xs/avatar3.jpg"
                                                                                   alt=""> </a>
                                <div class="media-body">
                                    <span class="name">Joel King</span> <span
                                        class="message">Ready for the meeti...</span> <span
                                        class="badge badge-outline status"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <h6>Contacts</h6>
                    <ul>
                        <li class="offline">
                            <div class="media"><a role="button" tabindex="0"> <img class="media-object "
                                                                                   src="assets/images/xs/avatar4.jpg"
                                                                                   alt=""> </a>
                                <div class="media-body">
                                    <span class="name">Joel King</span> <span class="badge badge-outline status"></span>
                                </div>
                            </div>
                        </li>
                        <li class="online">
                            <div class="media"><a role="button" tabindex="0"> <img class="media-object "
                                                                                   src="assets/images/xs/avatar1.jpg"
                                                                                   alt=""> </a>
                                <div class="media-body">
                                    <span class="name">Joel King</span> <span class="badge badge-outline status"></span>
                                </div>
                            </div>
                        </li>
                        <li class="offline">
                            <div class="media"><a class="pull-left " role="button" tabindex="0"> <img
                                    class="media-object " src="assets/images/xs/avatar2.jpg" alt=""> </a>
                                <div class="media-body">
                                    <span class="name">Joel King</span> <span class="badge badge-outline status"></span>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="settings">
                <div class="demo-settings">
                    <p>GENERAL SETTINGS</p>
                    <ul class="setting-list">
                        <li><span>Report Panel Usage</span>
                            <div class="switch">
                                <label>
                                    <input type="checkbox" checked>
                                    <span class="lever"></span></label>
                            </div>
                        </li>
                        <li><span>Email Redirect</span>
                            <div class="switch">
                                <label>
                                    <input type="checkbox">
                                    <span class="lever"></span></label>
                            </div>
                        </li>
                    </ul>
                    <p>SYSTEM SETTINGS</p>
                    <ul class="setting-list">
                        <li><span>Notifications</span>
                            <div class="switch">
                                <label>
                                    <input type="checkbox" checked>
                                    <span class="lever"></span></label>
                            </div>
                        </li>
                        <li><span>Auto Updates</span>
                            <div class="switch">
                                <label>
                                    <input type="checkbox" checked>
                                    <span class="lever"></span></label>
                            </div>
                        </li>
                    </ul>
                    <p>ACCOUNT SETTINGS</p>
                    <ul class="setting-list">
                        <li><span>Offline</span>
                            <div class="switch">
                                <label>
                                    <input type="checkbox">
                                    <span class="lever"></span></label>
                            </div>
                        </li>
                        <li><span>Location Permission</span>
                            <div class="switch">
                                <label>
                                    <input type="checkbox" checked>
                                    <span class="lever"></span></label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </aside>
    <!-- #END# Right Sidebar -->
</section>
<!--Side menu and right menu -->
{% block content %}
 {{ content }}

{% endblock content %}

<div class="color-bg container-fluid" style="margin-left: auto;margin-right: auto;width:100%;">
    <h5 style="color:white;float:left;">Hi {{ user.get_username }}</h5>
    <div align="center">
    <img style="" src="/media/pjimage.jpg">
    <h3 style="color:white;display: inline;">VISDOM Eye</h3>
    </div>
</div>
{% block javascripts %}
<!-- Jquery Core Js float:left;margin-left: 510px;  -->
<script src="/static/plugins/jquery/jquery-v3.2.1.min.js"></script>
<script src="/static/bundles/libscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="/static/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->
<script src="/static/bundles/morphingsearchscripts.bundle.js"></script> <!-- Main top morphing search -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/material.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/js/ripples.min.js"></script>

<script src="/static/bundles/mainscripts.bundle.js"></script><!-- Custom Js -->
{% endblock javascripts %}
{% endblock body %}
</body>
</html>