
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AEye</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/3-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>
<script src="/static/Chart.bundle.min.js"></script>

<script>


$(document).ready(function(){

     
var ctx = document.getElementById("bar_chart");
var ctx1 = document.getElementById("pie_chart");
var myChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ["Intrusion","Perimeter","Overcrowding","Tampering"],
        datasets: [{
            label: 'Frequency',
            data: {{ list }},
            backgroundColor: [
                'rgba(255, 0, 0, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});

var myChart1 = new Chart(ctx1, {
    type: 'pie',
    data: {
        labels: ["Relevant","Irrelevant","Not yet updated"],
        datasets: [{
           
            data: {{ list1 }},
            backgroundColor: [
                'rgba(255, 99, 0, 0.2)',
                'rgba(54, 162, 0, 0.2)',
                'rgba(75, 192, 192, 0.2)'
                
            ],
            borderColor: [
                'rgba(255,99,132,1)',
                'rgba(54, 162, 235, 1)',
                'rgba(75, 192, 192, 1)'
               
            ],
            borderWidth: [2,2,2]
        }]
    },
    
});

     $.material.init();
     window.scrollTo(0,0);
     $('.color-bg').css('height', 80);
     $('#bar_chart').css('width', 400);
     $('#bar_chart').css('height', 500);
     $('#bar_chart').css('text-align', "center");
     $('#pie_chart').css('width', 400);
     $('#pie_chart').css('height', 500);
     $('#pie_chart').css('text-align', "center");
      $('.card').css('height', 800);
      $('.card').css('width', 600);
      $('.body').css('height', 1500);
      $('.body').css('width', 600);
      $('#addCamera').css('display', 'none');
      $('#editCamera').css('display', 'none');
  

     
});
</script>

<body>
<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                     <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                                        
                    <li>
                        <a href="{% url 'analyzeAlerts' %}">Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'pastAlerts' %}">Alerts</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>


<div class="container" style="text-align: center;">
<div>

</div>

<div class="row"  >
                    <div>
                        <div >

                            <div  align="center">
                                <h2>Analysis</h2>
                                <br>
                            </div>
                            <div>
                            <h5 align="left">Based on type:</h5>
                            <br>
                                <canvas id="bar_chart"></canvas>
                            <h5 align="left">Based on relevance:</h5>
                            <br>    
                                <canvas id="pie_chart"></canvas>
                            <a href="{% url 'generateReport' %}">Download report</a>
                            </div>
                        </div>
                    </div>         
                </div>
            </div>            


</div>


    
</body>

</html>

