<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AEye</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/3-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>


<body>
<!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'home' %}">Home</a>
                    </li>
                    
                    <li>
                        <a href="{% url 'analyzeAlerts' %}">Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'pastAlerts' %}">Alerts</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
<div class="container" style="text-align: center;">
<table class="table table-bordered" >
  <thead>
    <tr>
      <th style="color:black;text-align: center;">Clip</th>
      <th style="color:black;text-align: center;">Time</th>
      <th style="color:black;text-align: center;">Type</th>
      
    </tr>
  </thead>
  <tbody>
    {% for i in alerts %}
      <tr>
        <td style="color:black;width:55%;"><img src="/{{ i.clip }}" alt="not available" height="100" width="100"/></td>
        <td style="color:black;width:25%;">{{ i.time }}</td>
        <td style="color:black;width:20%;">{{ i.alertType }}</td>
      </tr>
    {% endfor %}
  </tbody>
</table>

    <span class="step-links">
        {% if alerts.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ alerts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current" style="color:black;text-align: center;">
            Page {{ alerts.number }} of {{ alerts.paginator.num_pages }}.
        </span>

        {% if alerts.has_next %}
            <a href="?page={{ alerts.next_page_number }}">next</a>
            <a href="?page={{ alerts.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>

</div>

    
</body>

</html>





