<!DOCTYPE html>
<html lang="en">
<script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>AEye</title>

    <!-- Bootstrap Core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/static/css/3-col-portfolio.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<script>

    document.formHasErrors = {% if form.errors %}true{% else %}false{% endif %};
    function loadlink(){
    $.ajax({
           url: "ajax",


           success: function(data) {


           var jsonobj = $.parseJSON(data);

           $.each(jsonobj.alerts, function(index, value) {
           $('#time').text(value.time);
           $('#type').text(value.alertType);
           $('#exampleModal2 img').attr('src','/'+value.clip);
           $('.clipdata').attr('value',value.clip);
           $('#exampleModal2').modal({
                backdrop: 'static',
                keyboard: false
            });

           $('#exampleModal2').modal('show');



             });

           },
           error:function(data) {
               alert("error: no response from the server")
           },
        });

}


</script>
<script>

//the canvas to draw on
var commentCanvas;
//the context used to do the drawing
var commentCanvasContext;

//current mouse position
var currentMousePosition = {
  x: 0,
  y: 0
};

//previous mouse position
var previousMousePosition = {
  x: 0,
  y: 0
};
var centerX;
var centerY;

var video;
var sr;

var rect = {};
    var drag = false;
    var record=true;


function loadimage() {



    //video = document.createElement("video"); // create a video element
    //video.src = sr;
    //video.autoPlay = true; // ensure that the video does not auto play
    //video.loop = true;
    //console.log(sr);




commentCanvasContext.clearRect(0, 0, commentCanvas.width, commentCanvas.height);


    video = new Image();
    video.src = sr;
    //video.play();
    commentCanvasContext.drawImage(video, 0,0,400,400);
  
    //setTimeout(videoLoop, 2);




    }

    function videoLoop() {



        commentCanvasContext.drawImage(video, 0,0);
        setTimeout(videoLoop, 2);

    }

    function draw() {
    commentCanvasContext.setLineDash([6]);
  commentCanvasContext.strokeRect(rect.startX, rect.startY, rect.w, rect.h);
  commentCanvasContext.rect(rect.startX, rect.startY, rect.w, rect.h);

}

$(document).ready(function(){






     //get the canvas
  commentCanvas = document.querySelector("#commentCanvas");
  //make a 2D context
  commentCanvasContext = commentCanvas.getContext("2d");





   centerX= commentCanvas.width / 2;
   centerY = commentCanvas.height / 2;
  //set the line parameters
  //commentCanvasContext.lineWidth = 3;
  //commentCanvasContext.lineJoin = 'round';
  //commentCanvasContext.lineCap = 'round';
  commentCanvasContext.strokeStyle = 'red';



  //capture mouse moves
  commentCanvas.addEventListener("mousemove", function(e) {


    if (drag) {


    var rect1 = commentCanvas.getBoundingClientRect();
    currentMousePosition.x = e.clientX - rect1.left;
    currentMousePosition.y = e.clientY - rect1.top;
    rect.w = (e.clientX - rect1.left) - rect.startX;
    rect.h = (e.clientY - rect1.top) - rect.startY;
    console.log(rect);
    //commentCanvasContext.clearRect(0,0,commentCanvas.width,commentCanvas.height);


  }


  });

  //mouse down
  commentCanvas.addEventListener('mousedown', function(e) {
  if (record) {
  var rect1 = commentCanvas.getBoundingClientRect();
  rect.startX=e.clientX - rect1.left;
  rect.startY=e.clientY - rect1.top;
  record=false;

  }
  drag = true;


  });

  //mouse up
  commentCanvas.addEventListener('mouseup', function(e) {

    //remove the additional mouse move listener
     drag = false;
     record=true;
     draw();
     $('#startx').val(rect.startX);
     $('#starty').val(rect.startY);
     $('#width').val(rect.w);
     $('#height').val(rect.h);
     console.log("mayank");
     console.log($('#starty').val());

    //commentCanvas.removeEventListener('mousemove', onPaint);
  });

  //an additional mouse listener to paint part of a line
  var onPaint = function() {

    //draw the line
  commentCanvasContext.setLineDash([6]);
  commentCanvasContext.strokeRect(rect.startX, rect.startY, rect.w, rect.h);
  commentCanvasContext.rect(rect.startX, rect.startY, rect.w, rect.h);
  };



     $('#exampleModal').on('show.bs.modal', function (event) {
     var button = $(event.relatedTarget)
     var recipient = button.data('whatever')
     var modal = $(this)
     modal.find('.modal-title').text('Enter details:')
     modal.find('.modal-body input').val(recipient)
     })


     if (document.formHasErrors) {

           $('#exampleModal').modal('toggle');
     }


     $('#exampleModal1').on('show.bs.modal', function (event) {
     var button = $(event.relatedTarget)
     sr = button.data('id')
     console.log(sr);
     $('#imgurl').val(sr);


     console.log($('#imgurl').val());
     loadimage();


     })

     $('#exampleModalnew').on('show.bs.modal', function (event) {
     var button = $(event.relatedTarget)
     sr = button.data('id')
     console.log(sr);
     $('#imgurl1').val(sr);
     console.log($('#imgurl1').val());



     })



    setInterval(function(){
    loadlink(); // this will run after every 5 seconds

}, 2000);


     window.scrollTo(0,0);




});
</script>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}"><b>AEye</b></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="" data-toggle="modal" data-target="#exampleModal" data-whatever="">Add Camera</a>
                    </li>
                    <li>
                        <a href="{% url 'analyzeAlerts' %}">Dashboard</a>
                    </li>
                    <li>
                        <a href="{% url 'pastAlerts' %}">Alerts</a>
                    </li>
                    <li>
                        <a href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Header -->
        <div class="row">
            <div>
                <h4 class="page-header">Hi {{ user.get_username }}!

                </h4>
            </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->




    {% for record in allcam %}
    {% if forloop.first %}
        <div class="row">
    {% endif %}
    <div class="col-md-4">
      <h5 >{{ record.camName }}</h5>
                <a href="#">
                    <img  src = "{{ record.url }}"  alt="no signal" height="200" width="270" onerror="this.onerror=null;this.src='/media/no_signal.jpeg';">
                </a>
                <h5>
                    <a href="" data-id="{{ record.url }}" data-toggle="modal" data-target="#exampleModalnew" data-whatever="">Settings</a>
                </h5>


                <button  class="btn btn-primary" data-id="{{ record.url }}" data-toggle="modal" data-target="#exampleModal1" data-whatever="" type="button" >Install Applications</button>
                <br>
                <br>

    </div>
    {% if forloop.counter|divisibleby:"3" %}
        </div>
        {% if not forloop.last %}
            <div class="row">
        {% endif %}
    {% endif %}
    {% if forloop.last %}
         </div>
    {% endif %}
{% endfor %}
    <!-- /.container -->

    <!-- jQuery -->
</div>
<form class="formstyle" action="" method="post">
  {% csrf_token %}
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: silver;">
        <h5 class="modal-title" id="exampleModalLabel">Enter details:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            {{ form.name.errors}}
            <label for="recipient-name" class="form-control-label">Camera name:</label>
            {{ form.name }}
          </div>
          <div class="form-group">
           {{ form.url.errors}}
            <label for="recepient-url" class="form-control-label">Camera url:</label>
            {{ form.url }}
          </div>
        <div class="form-group">
           {{ form.url.errors}}
            <label for="recepient-url" class="form-control-label">Username:</label>
            {{ form.username }}
          </div>
          <div class="form-group">
           {{ form.url.errors}}
            <label for="recepient-url" class="form-control-label">Password:</label>
            {{ form.password }}
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
      </div>
  </div>
  </div>
 </form>

 <form class="formstyle1" action="runapps" method="post" style="background-color:red;">
  {% csrf_token %}
<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: silver;">
        <h4 class="modal-title" id="exampleModalLabel1">Select applications to be installed:</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <div class="form-group">
         <input type="checkbox" name="intrusion" value="intrusion"> Intrusion Detection<br>
         </div>
         <div class="form-group">
            <label class="form-control-label">Start time(hh:mm:ss):</label>
            <input type="text" name="intrusion_sttime" maxlength="8" size="8">
        </div>
        <div class="form-group">
            <label class="form-control-label">End time(hh:mm:ss): </label>
            <input type="text" name="intrusion_endtime" maxlength="8" size="8">
       </div>
          <div class="form-group">
           <input type="checkbox" name="perimeter" value="perimeter"> Perimeter Monitoring<br>
         </div>
         <div class="form-group">
           <label class="form-control-label">Start time(hh:mm:ss):</label>
            <input type="text" name="perimeter_sttime" maxlength="8" size="8"> <br>
         </div>
         <div class="form-group">
            <label class="form-control-label">End time(hh:mm:ss): </label>
            <input type="text" name="perimeter_endtime" maxlength="8" size="8"> <br>
         </div>
         <canvas id="commentCanvas" style="border: solid" height="400" width="400">

         </canvas>
         <div class="form-group">
           <input type="hidden" id="imgurl" name="imgUrl" value=""/>
           <input type="hidden" id="startx" name="startx" value=""/>
           <input type="hidden" id="starty" name="starty" value=""/>
           <input type="hidden" id="width" name="width" value=""/>
           <input type="hidden" id="height" name="height" value=""/>

          </div>



   <div class="form-group">
           <input type="checkbox" name="tampering" value="tampering"> Camera Tampering<br>
          </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Add</button>
      </div>
      </div>
  </div>
  </div>
 </form>

 <form class="formstyle2" action="action" method="post">
 {% csrf_token %}
 <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel1" aria-hidden="true">
  <div class="modal-dialog" id ="alert" role="document">
    <div class="modal-content">
      <div class="modal-header" style="background-color: silver;">
        <h5 class="modal-title" id="exampleModalLabel2"><b>Alert:</b></h5>

      </div>
      <div class="modal-body">
        <p class="para"><b>Type:</b></p>
        <p class="para" id="type"></p>
        <p class="para"><b>Time:</b></p>
        <p class="para" id="time"></p></br>
         <p><b>Clip:</b></p></br>
         <img src="" alt="not available currently" width="400" height="400" />



      </div>
      <div class="modal-footer">
        <input class="clipdata" type="hidden" name="clip" value=""/>
        <input type="submit" name="action" value="Relevant" class="btn btn-success" />
        <input type="submit" name="action" value="Irrelevant" class="btn btn-secondary"/>



      </div>
      </div>
  </div>
  </div>
</form>
<form class="formstyle" action="updateCamera" method="post">
  {% csrf_token %}
<div class="modal fade" id="exampleModalnew" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit details:</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">


          <div class="form-group">

            <label class="form-control-label"><b>New Camera name:</b></label>
            <input type="text" name="updatedName"/>
          </div>
        <div class="form-group">
           <input type="hidden" id="imgurl1" name="imgUrl" value=""/>
          </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-raised btn-success waves-effect" name="update">Update</button>
        <button type="submit" class="btn btn-raised btn-danger waves-effect" name="delete">Delete</button>
        <button type="button" class="btn btn-raised btn-primary waves-effect" data-dismiss="modal">Close</button>
      </div>
      </div>
  </div>
  </div>
 </form>

</body>

</html>
